<div class="center jumbotron">

  <% if @current_user %>
    <%= render 'archives/new' %>
    <%= render 'archives/index' %>
  <% else %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
