<div class="col-md-8">
  <% if @users %>
    <table>
      <thead>
      <tr>
        <th width="220" height="80">email</th>
        <th width="220" height="80">name</th>
        <th width="220" height="80">admin_role</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
      <tr>
        <td width="220" height="80">
          <%= user.email %>
        </td>
        <td width="220" height="80">
          <%= user.name %>
        </td>
        <td width="220" height="80">
          <%= user.role %>
        </td>
      </tr>
      <% end %>
      </table>
    <%= will_paginate @users %>
  <% end %>
</div>