<div class="col-md-8" style="margin-top: 100px">
  <% if @archives %>
    <ul class="microposts">
      <% @archives.each do |archive| %>
        <li>
          <%= archive.title %>
          <%= archive.content %>
          <%= archive.created_by_admin %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @archives %>
  <% end %>
</div>